.wrapper {
  position: relative;
  display: flex;
  margin-top: 75px;
}

.btn-back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgba(22, 24, 35, 0.03);
  cursor: pointer;
  left: -56px;
}

.left-box {
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 356px;
  // height: 100%;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
  border-radius: 8px;
  margin-right: 20px;
}

.top-left-box {
  height: 60px;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0px 16px 0px 24px;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.title-left-box {
  font-size: 24px;
  line-height: 28px;
  color: rgb(0, 0, 0);
  font-family: SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 700;
}

.bottom-left-box {
  position: relative;
  width: 100%;
  height: 72px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0px 70px 0px 24px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: rgb(241, 241, 241);
}

.text-title {
  font-size: 16px;
  line-height: 22px;
  min-height: 22px;
  color: rgb(22, 24, 35);
  max-width: 224px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 600;
}

.text-content {
  font-size: 1.4rem;
  line-height: 20px;
  color: rgba(22, 24, 35, 0.75);
  font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
}

.right-box {
  position: relative;
  flex-shrink: 0;
  top: 100;
  display: flex;
  flex-direction: column;
  width: 647px;
  height: 100%;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
  border-radius: 8px;
}

.top-right-box {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  padding: 16px 0px 16px 16px;
  border-bottom: 0.5px solid rgba(22, 24, 35, 0.12);
  box-shadow: unset;
}

.main-right-box {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  overflow-y: auto;
  width: 100%;
  padding: 24px 0px 16px;
  max-height: 505px;
}

.date-main-right {
  color: rgba(22, 24, 35, 0.5);
  font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
  margin-top: 0px;
  padding-top: 20px;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}

.box-chat {
  display: flex;
  padding: 0 14px;
  margin-left: 10px;
  height: 38px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
  font-size: 16px;
  line-height: 22px;
  border: 1px solid rgba(22, 24, 35, 0.12);
  background: transparent;
}

.input-right {
  display: flex;
  align-items: flex-end;
  position: relative;
  padding: 13px 16px;
  border-top: 0.5px solid rgba(22, 24, 35, 0.12);
}

.input {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1 1 0%;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgba(22, 24, 35, 0.06);
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 10px 16px;
  font-size: 15px;
  line-height: 18px;
  font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;

  &:active {
    border: 1px solid rgba(22, 24, 35, 0.2);
  }
}

@media only screen and (max-height: 768px) {
  .right-box {
    height: 505px;
  }
}
