.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin-left: -20px;
  margin-bottom: 20px;
}

.video {
  width: 210px;
  height: 275px;
  border-radius: 5px;
  object-fit: cover;
}
