.wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-background-size: cover;
    background-size: cover;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 20px;
    height: 100%;
}

.bg-btn {
    z-index: 999;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 10px;
    bottom: 21px;
}

.btn-play {
    display: none;
    z-index: 9999;
    position: absolute;
    padding: 10px;
    width: 19px;
    height: 19px;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 0.8;
    color: #ffffff;
}

.btn-mute {
    display: none;
    z-index: 9999;
    position: absolute;
    bottom: 26px;
    left: unset;
    right: 12px;
}

.wrapper:hover .btn-play {
    display: block;
}

.wrapper:hover .btn-mute {
    display: block;
}

.video {
    display: block;
    min-width: 330px;
    min-height: 600px;
    object-fit: cover;
}

.wr-range {
    position: absolute;
    z-index: 999;
    top: 420px;
    left: 292px;

    /* Set track styles */
    input[type="range"]::-webkit-slider-runnable-track {
        height: 2px !important;
        background: rgba(255, 255, 255, 0.34);
        margin-top: 0px;
        cursor: pointer;
    }

    /* Set thumb styles */
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 13px;
        height: 13px;
        background: rgb(255, 255, 255);
        border: 2px solid rgb(255, 255, 255);
        border-radius: 50%;
        margin-top: -5.4px;
        cursor: pointer;
    }
}

.input-range {
    max-width: 55px;
    transform: rotate(270deg);
}
