.wrapper {
  display: flex;
  margin-left: 20px;
}

.top-content {
  display: flex;
  min-width: 523px;
}

.avatar {
  width: 116px;
  height: 116px;
  object-fit: cover;
  border-radius: 50%;
}

.info {
  margin-left: 20px;
}

.nick-name {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 38px;
}

.check {
  font-size: 2rem;
  color: #20d5ec;
  margin-left: 4px;
  margin-bottom: 4px;
}

.name {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 25px;
}

.btn-follow {
  margin-top: 15px;
  min-width: 208px;
  height: 36px;
  line-height: 22px;
}

.btn-edit-profile {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  color: rgb(22, 24, 35);
  border-color: rgba(22, 24, 35, 0.12);
  background-color: rgb(255, 255, 255);
  min-height: 36px;
  font-weight: 600;
  font-family: SofiaPro, PingFangSC, sans-serif;
  position: relative;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  height: 36px;
  font-size: 16px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px 16px;
  min-width: 136px;
  line-height: 24px;
  margin-right: 8px;

  &:hover {
    border-color: rgb(208, 209, 211);
    background-color: rgb(248, 248, 248);
  }
}
.detail {
  display: flex;
  margin-top: 20px;
}

.text-detail + .text-detail {
  margin-left: 10px;
}

.btn + .btn {
  margin-left: 10px;
}

.container-info {
  margin-top: 10px;
}
.text-info {
  // color: rgb(22, 24, 35);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  white-space: pre-line;
}

.icon {
  margin-top: 2px;
  margin-right: 5px;
}

.text-link {
  font-size: 1.6rem;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover {
    text-decoration: underline;
  }
}

.container-btn-share {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 22px;
  width: 280px;
  padding: 8px 0px;
  max-height: 448px;
  overflow: auto;
}

.btn-down {
  margin-bottom: 10px;
}

.container-btns {
  display: flex;
  max-height: 20px;
}

.btn-share {
  width: 2rem;
  height: 2rem;
  margin-left: 9px;
}
