.wrapper {
  border-bottom: 1px solid rgba(22, 24, 35, 0.2);
  margin-top: 25px;
  padding-bottom: 20px;
  max-width: 510px;
}

//video info
.container-video-info {
  display: flex;
  flex-direction: row;
}

.avatar {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
}

.wrapper-content {
  margin-left: 10px;
  min-width: 80%;
}

.nick-name {
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: underline;
  line-height: 25px;
  display: inline-block;
  margin-right: 4px;
}

.full-name {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 20px;
  display: inline-block;
  line-height: 28px;
}

.content {
  font-size: 1.6rem;
  line-height: 22px;
  word-break: break-word;
}

.icon-and-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin-top: 6px;
}

.icon-music {
  width: 1rem;
  height: 1rem;
}

.text-icon {
  margin-left: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  &:hover {
    text-decoration: underline;
  }
}

//video content
.container-content {
  display: flex;
  flex-direction: row;
  margin-left: 64px;
  margin-top: 13px;
}

.video {
  min-width: 336px;
  min-height: 600px;
  border-radius: 10px;
  object-fit: cover;
}

.icons {
  display: flex;
  flex-direction: column-reverse;
  margin-left: 20px;
}

.background-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(22, 24, 35, 0.06);
}

.icon {
  font-size: 20px;
}

.detail {
  text-align: center;
}

.text {
  // color: rgba(22, 24, 35, 0.75);
  font-size: 1.2rem;
  line-height: 17px;
  font-weight: 700;
}
